.project {
  display: grid;
  grid-template-columns: fit-content(200px) 1fr;
  grid-template-rows: fit-content(20px) 1fr;
  grid-template-areas:
    "b a"
    "b c";
  margin-bottom: 2em;
}

.header {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.image {
  grid-area: b;
  margin-right: 2em;
}

.content {
  grid-area: c;
  flex: 1;
}

.title {
  margin: 0;
}

.date {
  margin: 0;
}

.date span {
  font-weight: bold;
}

.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 1em;
}

@media (max-width: 996px) {
  .project {
    display: block;
  }

  .image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: auto;
    height: auto;
  }
}
