.container {
  height: var(--size, 18rem);
  overflow: hidden;
  display: inline-block;
  width: 100%;
  transition: width 1000ms ease;
}

.banner {
  display: block;
  padding: 0;
  text-align: center;
  position: relative;
  height: var(--size, 18rem);
  width: 100%;
  border-radius: 0;
  container-type: size;
  background-color: #2bd7dd;
  transition: all 1000ms ease;
}

.title {
  font-weight: bold;
  font-size: var(--fontSize, 3rem);
  color: var(--color);
  margin: 0;
  line-height: 1.25;
}

.firstName {
  position: absolute;
  top: 21%;
  left: 50%;
  translate: -130% 0;
  transition:
    translate 1000ms ease,
    font-size 1000ms ease,
    text-shadow 1000ms ease;
}

.lastName {
  position: absolute;
  top: 21%;
  left: 50%;
  translate: -10% 0;
  transition:
    translate 1000ms ease,
    font-size 1000ms ease,
    text-shadow 1000ms ease;
}

.opacity {
  opacity: 1;
  transition: opacity 500ms 500ms ease;
}

.subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% 0;
  font-size: calc(var(--fontSize, 3rem) / 2);
  color: var(--color);
  white-space: nowrap;
  transition:
    translate 1000ms ease,
    rotate 1000ms ease;
}

.isLogo {
  width: var(--size, 18rem);
}

.isLogo .banner {
  border-radius: 50%;
  box-shadow:
    inset 2px 2px #a7eff1,
    inset -2px -2px #009398;
}

.isLogo .firstName {
  translate: -26% -25%;
  font-size: calc(var(--fontSize, 3rem) * 5);
  text-shadow:
    1px 1px #a7eff1,
    -1px -1px #009398;
}

.isLogo .lastName {
  translate: -2% -6%;
  font-size: calc(var(--fontSize, 3rem) * 5);
  text-shadow:
    1px 1px #a7eff1,
    -1px -1px #009398;
}

@container (min-width: 100px) {
  .isLogo .firstName {
    text-shadow:
      1px 1px #a7eff1,
      -1px -1px #009398,
      2px 2px #a7eff1,
      -2px -2px #009398;
  }

  .isLogo .lastName {
    text-shadow:
      1px 1px #a7eff1,
      -1px -1px #009398,
      2px 2px #a7eff1,
      -2px -2px #009398;
  }
}

.isLogo .opacity {
  opacity: 0;
  transition: opacity 500ms ease;
}

.isLogo .subtitle {
  rotate: 90deg;
  translate: -70% 100%;
}
