.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: clamp(1rem, 1vw + 1rem, 1.3rem);
  padding-top: var(--ifm-paragraph-margin-bottom);
}
